name: Test My Custom Action

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run my action
        uses: ArmanSuperannotate/ci-cd-test@main
        with:
          who-to-greet: "Tester"
          sa-token: ${{ secrets.SA_TOKEN }}
          sa-url: ${{ secrets.SA_URL }}
